<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>尺码表</title>
</head>
<body>
    <table style="border:1px solid #000;">
        <tr>
            <td>客户姓名：</td>
            <td>张三</td>
            <td>联系方式：</td>
            <td>13013013000</td>
            <td>账户余额：</td>
            <td>¥16,000</td>
            <td>积分余额：</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>客户姓名：</td>
            <td>张三</td>
            <td>联系方式：</td>
            <td>13013013000</td>
            <td>账户余额：</td>
            <td>¥16,000</td>
            <td>积分余额：</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>客户姓名：</td>
            <td>张三</td>
            <td>联系方式：</td>
            <td>13013013000</td>
            <td>账户余额：</td>
            <td>¥16,000</td>
            <td>积分余额：</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>客户姓名：</td>
            <td>张三</td>
            <td>联系方式：</td>
            <td>13013013000</td>
            <td>账户余额：</td>
            <td>¥16,000</td>
            <td>积分余额：</td>
            <td>15000</td>
        </tr>
        <tr>
            <td>客户姓名：</td>
            <td>张三</td>
            <td>联系方式：</td>
            <td>13013013000</td>
            <td>账户余额：</td>
            <td>¥16,000</td>
            <td>积分余额：</td>
            <td>15000</td>
        </tr>
    </table>
</body>
</html>