<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>尺码表</title>
</head>
<body>
    <table cellpadding="0" border="1" align="center" cellspacing="0" style="width:750px;text-align:center;">
        <tr>
            <td th:attrappend="colspan=${columns.size()}"  align="center">
                <strong>尺码明细表</strong>
            </td>
        </tr>
        <tr>
            <td th:attrappend="colspan=${columns.size()}" align="center">
                <strong th:text="${'产品货号：'+product.productName+' '+product.productCode2}"></strong>
            </td>
        </tr>
        <tr>
            <td th:each="colunm:${columns}" align="center">
                <strong th:text="${colunm.toString()}"></strong>
            </td>
        </tr>
        <tr th:each="row:${rows}">
            <td th:each="cell:${row}" align="center">
                <div th:text="${cell}"></div>
            </td>
        </tr>
    </table>
</body>
</html>